.b-card{
    padding: 10px 0px;
    transition: all 0.5s ease;
}
.b-card:hover{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 5px;
}
.add-btn{
    padding: 4px 25px;
    border: none;
    border-radius: 50px;
    background: #f91944;
    color: white;
}
.add-btn:hover{
   cursor: pointer;
   background: #ff224e;
}